<h1>login page</h1>
<form action="/login" method="post">
    <div>
        <label>email :</label>
        <input type="text" name="email" autocomplete="off" />
    </div>
    <div>
        <label>password :</label>
        <input type="password" name="password" />
    </div>
    <div>
        <input type="hidden" name="page" value="/payment" />
        <input type="submit" value="Login" />
    </div>
</form>